spring:
  datasource:
    url: postgresql://moto_store_user:T213McVCcnRyUE5J5u9rJh0vafBPQBmy@dpg-d4jl1egbdp1s73819sn0-a/moto_store
    username: moto_store_user
    password: T213McVCcnRyUE5J5u9rJh0vafBPQBmy
    #driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  thymeleaf:
    cache: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: bndfnmn@gmail.com        # <-- tu correo Gmail
    password: hceflkukzpzukckh         # <-- tu contraseña de aplicación
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com

server:
  port: ${PORT:8080}

logging:
  level:
    org.springframework.security: INFO
    org.springframework.mail: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
