spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/moto_store
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  thymeleaf:
    cache: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: bndfnmn@gmail.com        # <-- tu correo Gmail
    password: hceflkukzpzukckh         # <-- tu contraseña de aplicación
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com

server:
  port: 8080

logging:
  level:
    org.springframework.security: INFO
    org.springframework.mail: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
